[submodule "wch-isp"]
	path = wch-isp
	url = git@github.com:Barsy-Barsevich/wch-isp.git
[submodule "components/ICM45686_Barsotion"]
	path = components/ICM45686_Barsotion
	url = git@github.com:Barsy-Barsevich/ICM45686_Barsotion.git
